@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f0f0f0;
}

.barra-de-topo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 132px;
    background: linear-gradient(135deg, Crimson, darkred);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 1px;
}

.barra-de-topo .logo img {
    max-width: 300px;
    height: auto;
}

/* --- CONTEÚDO --- */
.content {
    margin-top: 132px;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px; 
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* Inputs */
.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    background: #fafafa;
}

/* --- BOTÕES (Publicar, Voltar e Sair) --- */
.btn-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#btnCadastrar {
    flex: 2; /* Botão principal maior */
    padding: 15px;
    background: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#btnCadastrar:hover { background: #800000; }

.btn-secundario {
    flex: 1;
    text-decoration: none;
    background-color: #555;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-secundario:hover { background-color: #333; }
.btn-sair { background-color: #333; } /* Botão sair mais escuro */
.btn-sair:hover { background-color: black; }


@media (max-width: 768px) {
    .barra-de-topo .logo img {
        max-width: 200px; /* Logo menor no celular */
    }

    .form-container {
        padding: 20px; /* Menos borda interna no celular */
        width: 100%;
    }

    .btn-group {
        flex-direction: column; /* Botões um embaixo do outro no celular */
    }
    
    #btnCadastrar, .btn-secundario {
        width: 100%;
    }
}